
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BottomPartial.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Nexus Aquarium|Support</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/public/css/support.css">
    <link rel="stylesheet" href="~/public/css/style.css">
    <link rel="stylesheet" href="~/public/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/public/vendor/fontawesome/css/all.min.css">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/public/vendor/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/public/vendor/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/public/vendor/js/support.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('li.nav-item').removeClass('active');
            $('li.nav-item:eq(4)').addClass('active');

        });
    </script>
</head>
<body>
    <div class="anhnen">
        <div class="noidunganhnen">
            <h6>Mọi thứ bạn cần biết:</h6>
            <h2>Các câu hỏi thường gặp</h2>
        </div>
    </div>
    <!--  xong background -->
    <!--  noi dung -->
    <div class="col-xs-12 pt-3 mt-3">
        <div class="container">
            <div class="row">
                <div class="noidung-1 col-md-4">
                    <div class="noidung-1-1">

                        <div class="ndnut1"><h5>Giới thiệu <i class="fa fa-plus plus-icon"></i></h5></div>
                        <hr>
                        <div class="ndnut2"><h5>Chỉ đường <i class="fa fa-plus plus-icon"></i></h5></div>
                        <hr>
                        <div class="ndnut3"><h5>Đỗ xe <i class="fa fa-plus plus-icon"></i></h5></div>
                        <hr>
                        <div class="ndnut4"><h5>Thông tin vé <i class="fa fa-plus plus-icon"></i></h5></div>
                        <hr>
                        <div class="ndnut5"><h5>An ninh <i class=" fa fa-plus plus-icon"></i></h5></div>
                        <hr>

                    </div>
                </div>
                <div class="noidung col-md-7">
                    <div class="section1">
                        <h3>Giới thiệu chung về thủy cung Nexus Aquarium</h3>
                        <hr>
                        <div class="section1-1">

                            <h6>Làm thế nào để có được các loài vật tại thủy cung? </h6>
                            <div class="ndsection">
                                <p>	  Các động vật tại Thủy cung Georgia đến với chúng tôi theo một số cách. Một số động vật được giải cứu, chúng sẽ không thể tự mình sống sót trong môi trường sống tự nhiên của chúng. Một số ví dụ về động vật được giải cứu tại Thủy cung bao gồm một số con sư tử biển California của chúng ta, rái cá biển phía nam Nuôi rùa biển xanh và cá đuối, Nandi.Những động vật khác được sinh ra tại Thủy cung hoặc tại các tổ chức động vật học khác.Một số động vật đến Thủy cung Georgia từ  các cơ sở nuôi trồng thủy sản  - nơi các động vật thủy sinh được nhân giống và nuôi dưỡng cho những nơi như Thủy cung. Nhiều loại thạch của chúng tôi được nuôi cấy ngay tại phòng thí nghiệm thạch của Thủy cung. Các loài cá và động vật khác được nuôi ở nơi khác trước khi đến thủy cung.Một số động vật được thu thập cẩn thận bởi các chuyên gia động vật tại Thủy cung Georgia để chúng có thể làm đại sứ cho loài của chúng trong một trong nhiều triển lãm của chúng tôi. Những con vật này giúp dạy cho mọi người về loài của chúng, môi trường chúng sống và những nguy hiểm chúng gặp phải, để chúng ta có thể hành động để giúp bảo vệ chúng.</p>
                            </div>

                        </div>
                        <hr>
                        <div class="section1-1">
                            <h6>Diện tích của thủy cung </h6>
                            <div class="ndsection">
                                <p>
                                    Kích thước bể cá có thể được đo hai cách. Nếu bạn đo cơ sở bằng thước vuông, thì Thủy cung Nexus rộng hơn 600.000 feet vuông. Nếu bạn đo bằng lượng nước trong tất cả các cuộc triển lãm, Thủy cung Nexus chứa khoảng 10 triệu gallon nước ngọt và nước mặn.
                                    Để biết thông tin về các động vật được tìm thấy tại Thủy cung Nexus, vui lòng truy cập các loài  của chúng tôi  .
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="section1-1">
                            <h6>Khác hàng có thể mang gì vào thủy cung? </h6>
                            <div class="ndsection">
                                <p>	Không có thức ăn, đồ uống hoặc kẹo cao su bên ngoài được phép trong Thủy cung. Ngoài ra, dao, bật lửa và diêm không được phép bên trong. Thú cưng không được phép. Chỉ cho phép chó dẫn đường cho người mù, chó phục vụ cho người khuyết tật và chó nghiệp vụ trong huấn luyện mới được phép vào Thủy cung.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section1-1">
                            <h6>Khách hàng có thể để xe ở đâu? </h6>
                            <div class="ndsection">
                                <p>
                                    Tầng đậu xe chính thức của Georgia Aquarium có lối vào nằm trên đường Luckie và Đại lộ Ivan Allen Jr.
                                    Để thuận tiện cho bạn, bạn có thể trả tiền đậu xe trực tuyến trước. Bạn sẽ cần phải in và mang theo vé đậu xe trả trước để vào bãi đậu xe. Bạn sẽ được yêu cầu quét lại vé của bạn để thoát khỏi bãi đậu xe sau chuyến thăm của bạn. Không có nhập lại được phép trên bãi đậu xe trả trước.

                                    Giá đỗ xe
                                    Thành viên: $ 10 tại cổng

                                    Người không phải là thành viên: $ 12 tại cổng cho khách thủy cung

                                    Thẻ đậu xe của Nexus Aquarium chỉ có giá trị đối với sàn đỗ xe của Nexus Aquarium, tọa lạc tại số 357 Luckie Street, Tây Bắc Atlanta, GA 30313.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="section1-1">
                            <h6>Giờ làm việc của Nexus Aquarium là gì?</h6>
                            <div class="ndsection">
                                <p>	Giờ làm việc tiêu chuẩn của chúng tôi là Thứ Hai - Thứ Sáu 10 giờ sáng đến 9 giờ tối và Thứ Bảy - Chủ Nhật 9 giờ sáng đến 9 giờ tối. Chúng tôi có thời gian kéo dài trong suốt mùa hè và ngày lễ, vui lòng xem  giờ kéo dài và ngày nghỉ  và lịch hàng tháng. Thỉnh thoảng chúng tôi sẽ đóng cửa bể cá sớm cho các sự kiện riêng tư. Vui lòng kiểm tra lịch trình trước khi hoàn thành kế hoạch đến của bạn. Mục cuối cùng được cho phép một giờ trước khi đóng cửa.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section1-1">
                            <h6>Thủy cung Nexus Aquarium ở đâu? </h6>
                            <div class="ndsection">
                                <p>	Thủy cung Georgia nằm ở 225 Phố Baker, bên kia đường từ đầu phía bắc của Công viên Thế kỷ Olympic.</p>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="section2 mt-3">
                        <h3>Chỉ Đường và đỗ xe</h3>
                        <hr>
                        <div class="section2-1">
                            <h6>Bước vào thủy cung Nexus Aquarium </h6>
                            <div class="ndsection">
                                <p>	Do xây dựng, lối vào cổng chính của Nexus Aquarium qua Baker và Luckie Street đã bị đóng. Chúng tôi khuyên dùng cho người đi bộ lối đi phía đông thông qua 2 nd  sàn của nhà đậu xe để vào Aquarium.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section2-1">
                            <h6>Giới hạn chiều cao/ kích thước xe ></h6>
                            <div class="ndsection">
                                <p>
                                    Lối vào của Ivan Allen - 8'2 <br>
                                    Lối vào đường Luckie # 1 - 6'8 <br>
                                    Lối vào đường Luckie # 2 - 6'8 <br>
                                    Đường dốc tới mọi cấp độ - 6'8
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="section2-1">
                            <h6>Giá vé gửi xe ở Nexus Aquarium </h6>
                            <div class="ndsection">
                                <p>	Giá vé MARTA là 2,50 đô la và khách hàng cũng có thể sử dụng vé không giới hạn vào cuối tuần, hàng tuần và hàng tháng trên tuyến. Thẻ giá vé được bán trong các máy bán hàng tự động trong tất cả các nhà ga. Máy chấp nhận tín dụng, ghi nợ và tiền mặt.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section2-1">
                            <h6>Hướng dẫn đi xe bus và xe máy </h6>
                            <div class="ndsection">
                                <p>	</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section2-1">
                            <h6>Bãi đỗ xe nằm ở đâu? </h6>
                            <div class="ndsection">
                                <p>
                                    Tầng đậu xe chính thức của Nexus Aquarium vận hành 1.600 không gian an toàn, an toàn và được chiếu sáng tốt gắn liền với Thủy cung Georgia. Bãi đậu xe có mái che và có sẵn.

                                    Nếu bạn đang lái xe, hãy sử dụng địa chỉ sau cho tuyến đường trực tiếp hơn đến bãi đậu xe của Georgia Aquarium:
                                    357 Luckie Street, NW Atlanta, GA 30313

                                    Để thuận tiện cho bạn, bạn có thể trả tiền đậu xe trực tuyến trước. Bạn sẽ cần phải in và mang theo vé đậu xe trả trước để vào bãi đậu xe. Bạn sẽ được yêu cầu quét lại vé của bạn để thoát khỏi bãi đậu xe sau chuyến thăm của bạn. Không có nhập lại được phép trên bãi đậu xe trả trước.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="section2-1">
                            <h6>Chỉ đường xe buss và bãi đỗ xe </h6>
                            <div class="ndsection">
                                <p>	Các động vật tại Thủy cung Georgia đến với chúng tôi theo một số cách. Một số động vật được giải cứu, chúng sẽ không thể tự mình sống sót trong môi trường sống tự nhiên của chúng. Một số ví dụ về động vật được giải cứu tại Thủy cung bao gồm một số con sư tử biển California của chúng ta, rái cá biển phía nam Nuôi rùa biển xanh và cá đuối, Nandi.Những động vật khác được sinh ra tại Thủy cung hoặc tại các tổ chức động vật học khác.Một số động vật đến Thủy cung Georgia từ  các cơ sở nuôi trồng thủy sản  - nơi các động vật thủy sinh được nhân giống và nuôi dưỡng cho những nơi như Thủy cung. Nhiều loại thạch của chúng tôi được nuôi cấy ngay tại phòng thí nghiệm thạch của Thủy cung. Các loài cá và động vật khác được nuôi ở nơi khác trước khi đến thủy cung.Một số động vật được thu thập cẩn thận bởi các chuyên gia động vật tại Thủy cung Georgia để chúng có thể làm đại sứ cho loài của chúng trong một trong nhiều triển lãm của chúng tôi. Những con vật này giúp dạy cho mọi người về loài của chúng, môi trường chúng sống và những nguy hiểm chúng gặp phải, để chúng ta có thể hành động để giúp bảo vệ chúng.</p>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="section3 mt-3">
                        <h3>Bảo vệ và Vé</h3>
                        <hr>
                        <div class="section3-1">
                            <h6>Có phải tất cả khách hàng đêu phải đi qua cổng an ninh không? </h6>
                            <div class="ndsection">
                                <p>	Vâng. Mọi người đến thăm Thủy cung PHẢI đi qua an ninh nằm bên ngoài Thủy cung. An ninh là điểm dừng chân đầu tiên của bạn khi đến Thủy cung Georgia. Hãy nhớ rằng KHÔNG cho phép súng, dao hoặc bật lửa trong Thủy cung Nexus. Thực phẩm bên ngoài, đồ uống và kẹo cao su cũng không được phép vào Thủy cung. An ninh sẽ tịch thu các mặt hàng này.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section3-1">
                            <h6>Vì sao không được mang vật dụng kim loại vào thủy cung? </h6>
                            <div class="ndsection">
                                <p>	Thủy cung Nexus đã được thành lập - và thực thi nghiêm ngặt - một chính sách của Không có dụng cụ kim loại. dụng cụ kim loại bao gồm (nhưng không giới hạn) các vật nhọn  và dao. Chính sách này được tạo ra để đảm bảo trải nghiệm an toàn và thoải mái cho tất cả khách và để loại bỏ rủi ro tiềm ẩn cho khách, nhân viên và / hoặc động vật. Chính sách này được tạo ra dựa trên những phát hiện của một đánh giá mối đe dọa toàn diện được thực hiện bởi Nexus Aquarium và Bộ An ninh Nội địa Nexus. Với hơn hai triệu khách đến thăm cơ sở của chúng tôi mỗi năm và hàng ngàn động vật thủy sinh sống trong 10 triệu gallon nước sau acrylic, chúng tôi không thể tự đặt mình vào nguy cơ xả vũ khí có chủ ý hoặc vô tình trong cơ sở của chúng tôi. Signage đã được đặt trên tài sản của chúng tôi nói rằng súng không được phép.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section3-1">
                            <h6>Có kiểm tra an ninh trước khi khách hàng vào thủy cung không? </h6>
                            <div class="ndsection">
                                <p>	Trước khi bước vào thủy cung tất cả khách hàng đều phải kiểm tra. Không có  dao, diêm, bật lửa, cần câu cá, thức ăn bên ngoài, đồ uống, ống hút hoặc kẹo cao su được phép bên trong Thủy cung.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section3-1">
                            <h6>Bạn có được hoàn lại tiền vé không? </h6>
                            <div class="ndsection">
                                <p>	Không hoàn lại tiền cho vé đã mua. Thay đổi ngày có thể được thực hiện 24 giờ TRƯỚC đến ngày đặt chỗ với phí xử lý tối thiểu cho mỗi vé. Thay đổi ngày không được phép sau ngày bán vé.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section3-1">
                            <h6>Hình thức mua vé trực tuyến là gì </h6>
                            <div class="ndsection">
                                <p>	Vâng. Xin nhấn vào mua vé ở trang chủ để biết thêm thông tin về vé của chúng tôi.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="section3-1">
                            <h6>Khách hàng có thể mua vé trước không? </h6>
                            <div class="ndsection">
                                <p>	Vâng. Vì chúng tôi đã hẹn giờ bán vé, chúng tôi khuyên bạn nên mua trước. Điều này có thể được thực hiện  trên trang web của chúng tôi  hoặc bằng cách gọi cho Trung tâm cuộc gọi theo số 404.581.4000.</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div><!-- het row -->
        </div>
    </div>

    <!--   xong noi dung -->

</body>
</html>

