
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>

</head>
<body style="margin: 0px; background: #0e0e0e;">
    <img style="padding: 100px;padding-left: 30%;" src="~/public/images/maps.png">
</body>
</html>
