
@{
    ViewBag.Title = "Support1";
    Layout = "~/Views/Shared/BottomPartial.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Nexus Aquarium|Support</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/public/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/public/vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/public/css/support.css">
    <link rel="stylesheet" href="~/public/css/style.css">
    <script type="text/javascript" src="~/public/vendor/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/public/vendor/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/public/vendor/js/support.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('li.nav-item').removeClass('active');
            $('li.nav-item:eq(4)').addClass('active');

        });
    </script>
</head>
<body>

    <div class="anhnensp2 ">
        <div class="noidunganhnensp2">
            <h6>Hướng dẫn:</h6>
            <h1>Chỉ đường và đỗ xe</h1>
        </div>
    </div>
    <!--  xong background -->
    <!--  noi dung -->
    <div class="noidungsp2 col-md-12 mt-3 pt-3">

        <div class="container">
            <div class="row">
                <div class="col-md-9 left">
                    <div class="sp2introduce">
                        <hr class="gachdau col-md-1">
                        <h2 class="heading">Chào mừng đến với Nexus Aquarium</h2>
                        <div class="col-xl-8 push-xs-2 mt-3"><p>Thủy cung Nexus nằm ở trung tâm thành phố Atlanta đối diện Công viên Thế kỷ Olympic. Nếu bạn đang đi bộ từ các khách sạn hoặc điểm tham quan ở Khu thương mại Atlanta, vui lòng sử dụng các hướng dẫn đi bộ này  . Để biết hướng dẫn đỗ xe và các tuyến đường thông qua giao thông công cộng, xem bản đồ và hướng dẫn bên dưới.</p></div>
                    </div>
                </div>
                <div class="col-md-3 codinh">
                    <div class="right">
                        <div class="right1">
                            <h4 class="pt-1">Mua vé gửi xe</h4>
                            <hr>
                            <h6>Giá vé :</h6>
                            <p>là thanh viên: 10$</p>
                            <p>không phải thành viên: 12$</p>
                            <p>Hãy mua vé trước để được nhận ưu đãi</p>
                            <button class="btn-primary" style="width: 100%;line-height: 2.5;"> Mua vé</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="noidungsp2-1 mt-3 mb-3">
        <div class="container">
            <hr class="gachdau col-md-1">
            <h2>Chỉ đường GPS và đỗ xe</h2>
            <div class="col-md-9 mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <p>Tầng đậu xe chính thức của Nexus Aquarium vận hành 1.600 không gian an toàn, an toàn và được chiếu sáng tốt gắn liền với Thủy cung Nexus. Bãi đậu xe có mái che và có sẵn. Bạn có thể trả tiền đậu xe trực tuyến trước; chỉ cần in và mang theo vé đậu xe trả trước của bạn để vào tầng đậu xe. Bạn sẽ được yêu cầu quét lại vé của bạn để thoát khỏi bãi đậu xe sau chuyến thăm của bạn. Không có nhập lại được phép trên bãi đậu xe trả trước.<br>Nếu bạn đang lái xe và dự định đỗ xe tại chỗ, hãy sử dụng địa chỉ đường phố sau đây cho tuyến đường trực tiếp đến bãi đậu xe Nexus: 357 Luckie Street, Tây Bắc Atlanta, GA 30313 .<br>Xin lưu ý: Lối vào Thủy cung là một lối đi ngắn ngoài trời bên dưới lối đi có mái che. Hãy ăn mặc phù hợp. Do xây dựng, lối vào cổng chính của Nexus Aquarium qua Baker và Luckie Street đã bị đóng. Sử dụng lối đi dành cho người đi bộ phía đông qua tầng 2 của nhà để xe để vào Thủy cung.</p>
                        <button class="btn-primary nut-1"><a href="https://www.google.com/maps/place/Carousel+on+the+National+Mall/38.889704,-77.025219,17z/data=!4m5!3m4!1s0x0:0xe5e585458abe2f4c!8m2!3d38.8891528!4d-77.0246114?hl=en-US" style="color: white">Tìm hiểu thêm</a></button>
                    </div>
                    <div class="col-md-6">
                        <div class="map1">

                            <img src="~/public/images/nen-1.png" class="imagesm2" alt="">
                            <img src="~/public/images/maps.png" alt="" class="imagesm1">
                            <a href="/Support/Map">map +</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section2 mt-3 ">
        <div class="container">
            <div class="col-md-9">
                <h3>Chỉ Đường và đỗ xe</h3>
                <hr>
                <div class="section2-1">
                    <h6>Bước vào thủy cung Nexus Aquarium </h6>
                    <div class="ndsection">
                        <p>	Do xây dựng, lối vào cổng chính của Nexus Aquarium qua Baker và Luckie Street đã bị đóng. Chúng tôi khuyên dùng cho người đi bộ lối đi phía đông thông qua 2 nd  sàn của nhà đậu xe để vào Aquarium.</p>
                    </div>
                </div>
                <hr>
                <div class="section2-1">
                    <h6>Giới hạn chiều cao/ kích thước xe </h6>
                    <div class="ndsection">
                        <p>
                            Lối vào của Ivan Allen - 8'2 <br>
                            Lối vào đường Luckie # 1 - 6'8 <br>
                            Lối vào đường Luckie # 2 - 6'8 <br>
                            Đường dốc tới mọi cấp độ - 6'8
                        </p>
                    </div>
                </div>
                <hr>
                <div class="section2-1">
                    <h6>Giá vé gửi xe ở Nexus Aquarium </h6>
                    <div class="ndsection">
                        <p>	Giá vé MARTA là 2,50 đô la và khách hàng cũng có thể sử dụng vé không giới hạn vào cuối tuần, hàng tuần và hàng tháng trên tuyến. Thẻ giá vé được bán trong các máy bán hàng tự động trong tất cả các nhà ga. Máy chấp nhận tín dụng, ghi nợ và tiền mặt.</p>
                    </div>
                </div>
                <hr>
                <div class="section2-1">
                    <h6>Hướng dẫn đi xe bus và xe máy </h6>
                    <div class="ndsection">
                        <p>	</p>
                    </div>
                </div>
                <hr>
                <div class="section2-1">
                    <h6>Bãi đỗ xe nằm ở đâu? </h6>
                    <div class="ndsection">
                        <p>
                            Tầng đậu xe chính thức của Nexus Aquarium vận hành 1.600 không gian an toàn, an toàn và được chiếu sáng tốt gắn liền với Thủy cung Nexus. Bãi đậu xe có mái che và có sẵn.

                            Nếu bạn đang lái xe, hãy sử dụng địa chỉ sau cho tuyến đường trực tiếp hơn đến bãi đậu xe của Nexus Aquarium:
                            357 Luckie Street, NW Atlanta, GA 30313

                            Để thuận tiện cho bạn, bạn có thể trả tiền đậu xe trực tuyến trước. Bạn sẽ cần phải in và mang theo vé đậu xe trả trước để vào bãi đậu xe. Bạn sẽ được yêu cầu quét lại vé của bạn để thoát khỏi bãi đậu xe sau chuyến thăm của bạn. Không có nhập lại được phép trên bãi đậu xe trả trước.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="section2-1">
                    <h6>Chỉ đường xe buss và bãi đỗ xe </h6>
                    <div class="ndsection">
                        <p>	Các động vật tại Thủy cung Nexus đến với chúng tôi theo một số cách. Một số động vật được giải cứu, chúng sẽ không thể tự mình sống sót trong môi trường sống tự nhiên của chúng. Một số ví dụ về động vật được giải cứu tại Thủy cung bao gồm một số con sư tử biển California của chúng ta, rái cá biển phía nam Nuôi rùa biển xanh và cá đuối, Nandi.Những động vật khác được sinh ra tại Thủy cung hoặc tại các tổ chức động vật học khác.Một số động vật đến Thủy cung Nexus từ  các cơ sở nuôi trồng thủy sản  - nơi các động vật thủy sinh được nhân giống và nuôi dưỡng cho những nơi như Thủy cung. Nhiều loại thạch của chúng tôi được nuôi cấy ngay tại phòng thí nghiệm thạch của Thủy cung. Các loài cá và động vật khác được nuôi ở nơi khác trước khi đến thủy cung.Một số động vật được thu thập cẩn thận bởi các chuyên gia động vật tại Thủy cung Nexus để chúng có thể làm đại sứ cho loài của chúng trong một trong nhiều triển lãm của chúng tôi. Những con vật này giúp dạy cho mọi người về loài của chúng, môi trường chúng sống và những nguy hiểm chúng gặp phải, để chúng ta có thể hành động để giúp bảo vệ chúng.</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <!--   xong noi dung -->

</body>
</html>

