
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BottomPartial.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Nexus Aquarium|About us</title>
    <link rel="stylesheet" href="~/public/css/support.css">
    <link rel="stylesheet" href="~/public/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/public/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <script type="text/javascript" src="~/public/vendor/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/public/vendor/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/public/vendor/js/support.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('li.nav-item').removeClass('active');
            $('li.nav-item:eq(6)').addClass('active');

        });
    </script>
</head>
<body>
    <!-- menu -->
    <div class="anhnen_1">
        <div class="noidunganhnen">
            <h2>Chúng tôi là</h2>
            <h2>Nexus Aquarium</h2>
        </div>
    </div>
    <!-- het  menu -->
    <!-- noidung -->
    <div class="noidungsp2 col-md-12 mt-3 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 left">
                    <div class="sp2introduce">
                        <hr class="gachdau col-md-1">
                        <h2 class="heading">Thủy Cung Nexus:</h2>
                        <div class="row">
                            <div class="col-md-4 push-md-2 mt-3"><p>Nằm ở thành phố Washington, một trong những nơi nổi tiếng nơi dành cho du lịch.Nexus Aquarium là thủy cung rất lớn, trưng bày các chương trình và chương trình đạt tiêu chuẩn cao nhất, và mang đến những trải nghiệm thú vị và hấp dẫn cho khách, thúc đẩy bảo tồn đa dạng sinh học dưới nước trên toàn thế giới. Là một nhà lãnh đạo trong nghiên cứu thủy sinh và chăm sóc động vật đặc biệt, chúng tôi dành riêng để thúc đẩy sự đánh giá sâu sắc hơn đối với đại dương của chúng ta và các động vật gọi nó là nhà.</p></div>
                            <div class="col-md-4 push-md-2 mt-3 ">
                                <p>Bên cạnh các cơ sở được công nhận khác, nhóm của chúng tôi tiến hành  nghiên cứu quan trọng  bằng cách làm việc với động vật cả về chăm sóc con người và môi trường sống tự nhiên của chúng để cải thiện phương pháp chăn nuôi, phát triển các triển lãm mới đầy sáng tạo và thú vị, đóng góp vào sự hiểu biết về thế giới dưới nước và áp dụng những khám phá mới vào bảo tồn của thủy sinh.Thủy cung đang tìm hiểu thêm về sinh vật biển để phát triển các phương pháp chăm sóc động vật và thú y mới. Bằng cách kết hợp nghiên cứu thực địa với nghiên cứu động vật tại chỗ trong môi trường có kiểm soát, Thủy cung đang góp phần thúc đẩy kiến ​​thức của con người trong lĩnh vực khoa học động vật.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 " style="background:#F5F6F8;">
        <div class="container">
            <div class="">
                <img style="-webkit-user-select: none;" src="~/public/images/planted-aquarium.jpg" width="100%" height="auto">
            </div>
            <div class="text-md-center text-sm-center py-2">
                <a data-toggle="collapse" href="#kham_pha" role="button" aria-expanded="false">Khám phá bên trong</a>
            </div>
            <div class="collapse" id="kham_pha">
                <div class="card card-body">
                    <p>Thủy cung Nexus có diện tích lớn và là nơi hội tụ của rất nhiều cá thể sinh vật từ “năm châu bốn biển”. Hành trình tham quan được chia thành nhiều khu vực: </p>

                    <p class="text-md-center text-sm-center"><strong>Khu vực cá nước ngọt</strong></p>
                    <p>Với chủ đề “Trăm sông đổ về biển”, trên hành trình khám phá Thủy cung Nexus, du khách sẽ bắt đầu chuyến đi đầy hào hứng với Khu vực cá nước ngọt được thiết kế mô phỏng khu rừng nhiệt đới ẩm thấp.</p>
                    <p>Tại đây, du khách sẽ bước vào một không gian nhiệt đới huyền bí hệt như trong phim khi bắt gặp những thân cây cổ thụ sừng sững bên cạnh các loại dây leo, dòng thác chảy xiết từ thượng nguồn xuống hạ lưu và chiêm ngưỡng những loài cá nước ngọt to lớn có nguồn gốc từ lưu vực sông Amazon (Nam Mỹ) như&nbsp;<em>cá&nbsp;Hải&nbsp;tượng</em>,&nbsp;<em>cá Đĩa,…</em>hay các loài cá điển hình của sông Mekong như <em>cá Hô, cá Đuối nước ngọt</em>,…</p>
                    <div class="text-md-center text-sm-center"><img src="~/public/images/about-1.jpg" alt=""></div>
                    <p class="text-md-center text-sm-center"><em>Hải tượng – Quái vật nước ngọt lớn nhất hành tinh</em></p>

                    <p class="text-md-center text-sm-center"><strong>Khu vực hang động - bò sát</strong></p>
                    <p>Chia tay khu rừng nhiệt đới, du khách sẽ tận mục sở thị một thế giới bò sát, sinh vật lưỡng cư và côn trùng trong&nbsp;<strong>Khu vực Hang động – Bò sát</strong>. Thủy cung Nexos là Thủy cung đầu tiên tại Washington có khu nuôi dưỡng bò sát, gồm nhiều loài đa dạng, phong phú như<em> Kỳ đà, Rùa nước, Rùa vàng, Trăn vàng qúy hiếm,</em>…</p>
                    <div class="text-md-center text-sm-center"><img src="~/public/images/about-2.jpg" alt=""></div>
                    <p class="text-md-center text-sm-center"><em>“Anh chàng” rồng Nam Mỹ của Thủy cung</em></p>
                    <p>Bên cạnh đó, những loài côn trùng của xứ sở nhiệt đới hiện diện tại đây&nbsp;như&nbsp;<em>Nhện độc, Rết đỏ, Bọ cạp Hoàng đế…</em> cũng sẽ mang đến cho người xem những cảm giác lạ lẫm, thích thú.</p>

                    <p class="text-md-center text-sm-center"><strong>Khu vực cá nước mặn</strong></p>
                    <p>Đặc biệt, lần đầu tiên tại Washington, du khách sẽ được chiêm ngưỡng những chú chim cánh cụt đáng yêu, tinh nghịch. Tại Thủy cung Nexus, các chú chim Cánh cụt sẽ có hẳn một ốc đảo riêng với môi trường sống y như tại quê hương; chúng sẽ được thuần dưỡng trong một hệ thống chăm sóc đặc biệt với những chiếc tổ nhân tạo được thiết kế để chim có thể kết cặp và sinh sản</p>
                    <p><strong><em>Thành quả đầu tiên của quá trình chăm sóc kỳ công này là chú chim cánh cụt Pengo được sinh ra tại chính Thủy cung Nexus.</em></strong></p>
                    <div class="text-md-center text-sm-center"><img src="~/public/images/about-3.jpg" alt=""></div>
                    <p class="text-md-center text-sm-center"><em>Đại gia đình Chim Cánh cụt tại Thủy cung Nexus</em></p>
                    <p>Bước qua bờ biển, du khách sẽ đắm chìm vào không gian Đại dương bao la xanh thẳm dưới đường hầm mái vòm trong suốt , tận mắt chứng kiến loài <em>cá Mập hung dữ</em> hay <em>cá Đuối to lớn</em> cùng hàng ngàn các loài sinh vật cùng nhau sinh sống tạo nên một Đại dương thu nhỏ ngay trong lòng Washington.</p>
                    <div class="text-md-center text-sm-center"><img src="~/public/images/about-4.jpg" alt=""></div>
                    <p class="text-md-center text-sm-center"><em>Loài cua nhện khổng lồ quý hiếm lần đầu tiên xuất hiện trong Thủy Cung Nexus</em></p>
                    <p>Tiếp Theo, <strong>Khu trưng bày mẫu vật</strong> với hơn 200 mẫu vật của các loài thủy sinh vật khắp thế giới trong một không gian ánh sáng kỳ ảo cùng đoạn phim Hậu Trường thú vị sẽ mang tới những trải nghiệm đặc biệt và tạo ấn tượng khó phai cho du khách.</p>
                    <div class="text-md-center text-sm-center"><img src="~/public/images/about-5.jpg" alt=""></div>
                    <p class="text-md-center text-sm-center"><em>Khu trưng bày mẫu vật Nexus</em></p>
                    <p>Thủy cung Nexus không chỉ mang tính giải trí đơn thuần mà còn là địa điểm du lịch mang ý nghĩa giáo dục lớn. Bên cạnh việc được mãn nhãn với đa dạng các loài sinh vật thủy sinh kỳ lạ, ngộ nghĩnh và lung linh sắc màu, du khách đến đây còn có cơ hội tham gia vào các&nbsp;<em><strong>Tour tham quan giáo dục</strong></em>&nbsp;đươc thiết kế cho nhiều đối tượng – đặc biệt là các em học sinh – nhằm cung cấp những kiến thức bổ ích và hấp dẫn về Thế giới đại dương.</p>

                    <h1><span style="font-size: 25px;"><strong> Món ăn Tại Thủy Cung Nexus </strong></span></h1>

                    <p class="text-md-center text-sm-center"><strong>Bánh phô mai bít tết</strong></p>
                    <p>Món ăn đầu tiên mà bạn nhất định phải nếm thử đó chính là bánh phô mai bít tết. Đây là món ăn rất nổi tiếng với hương vị đặc biệt và được cả người dân địa phương lẫn du khách quốc tế ưa chuộng.</p>
                    <div class="text-md-center text-sm-center"><img src="~/public/images/about-6.jpg" alt=""></div>
                    <p class="text-md-center text-sm-center"><em>Bánh phô mai bít tết thơm ngon đặc biệt</em></p>
                    <p>Mặc dù là món ăn rất đặc trưng của <strong>ẩm thực tại Washington</strong> tuy nhiên bánh phô mai bít tết lại có nguồn gốc từ Philadelphia. Một chiếc bánh phô mai bít tết sẽ là sự kết hợp hoàn hảo của những miếng bít tết được thái mỏng cùng một số thành phần như: hành lá, phô mai và kẹp trong chiếc bánh mì xẻ đôi. Mặc dù đơn giản là vậy nhưng khi ăn bánh bít tết phô mai lại có hương vị vô cùng thơm ngon và hấp dẫn, khiến thực khách ăn một lần là nhớ mãi. Món bánh này sẽ trở nên đặc biệt và ngon miệng hơn nếu được dùng kèm với bơ và cá hồi. Ngoài ra bánh phô mai bít tết cũng là một món ăn nhẹ rất thích hợp khi bạn cần nạp năng lượng cho chuyến hành trình tham quan thủy cung của mình đấy!</p>

                    <p class="text-md-center text-sm-center"><strong>Bánh chanh</strong></p>
                    <p>Trong số những món ăn ngon của Washington tại thủy cung, bánh chanh là một trong những món du khách nhất định phải thưởng thức thử 1 lần.</p>
                    <div class="text-md-center text-sm-center"><img src="~/public/images/about-7.jpg" alt=""></div>
                    <p class="text-md-center text-sm-center"><em>Bánh chanh vàng ươm ngon tuyệt</em></p>
                    <p>Bánh chanh là sự hòa quyện giữa vị ngọt và chua đem đến cảm giác cực kì thú vị cho người thưởng thức. Các ngư dân khi khi chế biến món ăn đã không có sẵn lò nướng và sữa tươi nên đã làm ra món ăn này. Nguyên liệu để làm nên món ăn này chính là nước cốt chanh, sữa đặc có đường, bột để làm vỏ bánh, lòng đỏ trứng gà..</p>

                    <p class="text-md-center text-sm-center"><strong>Pizza kiểu New York</strong></p>
                    <div class="text-md-center text-sm-center"><img src="~/public/images/about-8.jpg" alt=""></div>
                    <p class="text-md-center text-sm-center"><em>Pizza được nướng vàng giòn rụm</em></p>
                    <p>Pizza kiểu New York có phần đế nỏng giòn được phủ một lớp xốt cà chua và ooey-gooey mozzarella mang phong cách đặc trưng của New York. Món ăn này có mặt để đem đến sự tiện ích cho du khách, bạn vừa có thể tham quan thủy cung vừa có cơ hội ăn món ngon New York.</p>
                </div>
            </div>
        </div>
    </div> <!-- het phan anh -->
    <div class="col-md-12 pb-3 pt-3">
        <div class="container">
            <div class="col-md-12 ">
                <h2 class="text-md-center">Các đối tác của Nexus Aquarium</h2>
            </div>
            <div class="col-md-12 pt-3">
                <h5 class="text-md-center pb-3">Các tổ chức công nhận</h5>
                <div class="row hang-1">
                    <div class="dt-1 col-md-3"><img src="~/public/images/dt-1.png" alt=""></div>
                    <div class="dt-1 col-md-3"><img src="~/public/images/dt-2.png" alt=""></div>
                    <div class="dt-1 col-md-3"><img src="~/public/images/dt-3.png" alt=""></div>
                    <div class="dt-1 dt-1-1 col-md-3"><img src="~/public/images/dt-7.png" alt=""></div>
                </div>
                <h5 class="text-md-center pt-3 pb-3">Các tổ chức công nhận</h5>
                <div class="row hang-2">
                    <div class="dt-1 col-md-3"><img src="~/public/images/dt-4.png" alt=""></div>
                    <div class="dt-1 col-md-3"><img src="~/public/images/dt-5.png" alt=""></div>
                    <div class="dt-1 col-md-3"><img src="~/public/images/dt-6.jpg" alt=""></div>
                    <div class="dt-1 dt-1-1 col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="doitac col-md-12 pt-2 pb-3" style="background: #F5F6F8;">
        <div class="container">
            <div class="col-md-3 pb-2">
                <hr class="gachdau col-md-1">
                <h2 class="heading">Các đối tác :</h2>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 push-md-2">

                        <h5 class="pb-2">Đối tác giáo dục</h5>

                        <ul>
                            <li><a href="https://www.vet.cornell.edu/education/other-educational-opportunities/aquavet/aquavet-iii">Aquavet - Thuốc thú y dưới nước</a></li>
                            <li><a href="http://www2.cuny.edu/">Đại học thành phố New York</a></li>
                            <li><a href="http://www.cofc.edu/">Đại học Charleston</a></li>
                            <li><a href="http://www.emory.edu/home/index.html">Đại học bang Colorado</a></li>
                            <li><a href="">đại học Emory</a></li>
                            <li><a href="">Viện công nghệ Florida</a></li>
                            <li><a href="">Viện công nghệ Georgia</a></li>
                            <li><a href="">Đại học bang Georgia</a></li>
                            <li><a href="">Chi nhánh bến cảng - Đại học Florida Atlantic</a></li>
                            <li><a href="">Tổ chức chính trị quốc gia</a></li>
                            <li><a href="">Đại học Y khoa South Carolina</a></li>
                            <li><a href="">Đại học Nam Illinois</a></li>
                            <li><a href="">Đại học Thú y Đại học Georgia</a></li>
                            <li><a href="">Đại học San Francisco</a></li>
                            <li><a href="">Đại học Alberta</a></li>
                            <li><a href="">Đại học Trung tâm Florida</a></li>
                            <li><a href="">Đại học Florida</a></li>
                            <h5 class="pb-2 pt-1">Đối tác doanh nghiệp</h5>
                            <li><a href="">Aquavet - Thuốc thú y dưới nước</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 push-md-2">
                        <ul>
                            <li><a href="">Trung tâm Alaska SeaLife</a></li>
                            <li><a href="">Bảo tồn quốc tế</a></li>
                            <li><a href="">Quỹ phục hồi san hô</a></li>
                            <li><a href="">Sáng kiến ​​Darwin</a></li>
                            <li><a href="">Dự án cá mập cá voi Galapagos</a></li>
                            <li><a href="">Bộ Tài nguyên thiên nhiên Georgia</a></li>
                            <li><a href="">Quỹ Guy Harvey Ocean</a></li>
                            <li><a href="">Quỹ Meg Meguna</a></li>
                            <li><a href="">MigraMar - Mạng lưới nghiên cứu và bảo tồn biển</a></li>
                            <li><a href="">Phòng thí nghiệm biển Mote</a></li>
                            <li><a href="">Bảo tồn Đại dương - Liên minh Biển miễn phí</a></li>
                            <li><a href="">Một sức khỏe - Sức khỏe thế giới thông qua hợp tác</a></li>
                            <li><a href="">SANCCOB - Quỹ bảo tồn các loài chim ven biển Nam Phi</a></li>
                            <li><a href="">Liên minh biển đến bờ</a></li>
                            <li><a href="">SEZARC - Liên minh vườn thú Đông Nam để tái sản xuất và bảo tồn</a></li>
                            <li><a href="">Trung tâm rùa biển Georgia</a></li>
                            <li><a href="">Dịch vụ Cá & Động vật hoang dã Hoa Kỳ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hetnoidung -->
</body>
</html>



