@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BottomPartial.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Nexus Aquarium|Events</title>
    <link rel="stylesheet" href="~/public/css/event.css">
    <link rel="stylesheet" href="~/public/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/public/vendor/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="~/public/css/style.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $('li.nav-item').removeClass('active');
            $('li.nav-item:eq(1)').addClass('active');

        });
    </script>
</head>

<body>

    <main role="main">
        <div class="mb-3">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/public/images/event-carousel-1.jpg" width="100%" alt="carousel-1">
                    </div>
                    <div class="carousel-item">
                        <img src="~/public/images/event-carousel-2.jpg" width="100%" alt="carousel-2">
                    </div>
                    <div class="carousel-item">
                        <img src="~/public/images/event-carousel-3.jpg" width="100%" alt="carousel-3">
                    </div>
                    <div class="carousel-item">
                        <img src="~/public/images/event-carousel-4.jpg" width="100%" alt="carousel-4">
                    </div>
                    <div class="carousel-item">
                        <img src="~/public/images/event-carousel-5.jpg" width="100%" alt="carousel-5">
                    </div>
                    <div class="carousel-item">
                        <img src="~/public/images/event-carousel-6.jpg" width="100%" alt="carousel-6">
                    </div>
                    <div class="carousel-item">
                        <img src="~/public/images/event-carousel-7.jpg" width="100%" alt="carousel-7">
                    </div>
                    <div class="carousel-item">
                        <img src="~/public/images/event-carousel-8.jpg" width="100%" alt="carousel-8">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="pl-3 col-md-3">
                    <form id="filter-sk">
                        @*<p>Sự Kiện  :         </p>*@
                        <div class="custom-radio">
                            @if (ViewBag.type == "")
                            {
                                <input type="radio" class="" name="loc_sk" checked="checked" id="customRadio" onchange="filter()" value=""> @*@if (String.IsNullOrEmpty(type)) {checked}*@
                                <label class="custom-control-label" for="customRadio">Tất cả</label>
                            }
                            else
                            {
                                <input type="radio" class="" name="loc_sk" checked="checked" id="customRadio" onchange="filter()" value=""> @*@if (String.IsNullOrEmpty(type)) {checked}*@
                                <label class="custom-control-label" for="customRadio">Tất cả</label>
                            }

                        </div>
                        <div class="custom-radio">
                            @if (ViewBag.type == "gia_dinh")
                            {
                                <input type="radio" class="" checked="checked" name="loc_sk" id="customRadio1" onchange="filter()" value="gia_dinh">
                                <label class="custom-control-label" for="customRadio1">Sự kiện gia đình</label>
                            }
                            else
                            {
                                <input type="radio" class=""  name="loc_sk" id="customRadio1" onchange="filter()" value="gia_dinh">
                                <label class="custom-control-label" for="customRadio1">Sự kiện gia đình</label>
                            }

                        </div>
                        <div class="custom-radio">
                            @if (ViewBag.type == "tre_em")
                            {
                                <input type="radio" class="" checked="checked" name="loc_sk" id="customRadio3" onchange="filter()" value="tre_em">
                                <label class="custom-control-label" for="customRadio3">Sự kiện trẻ em</label>
                            }
                            else
                            {
                                <input type="radio" class="" name="loc_sk" id="customRadio3" onchange="filter()" value="tre_em">
                                <label class="custom-control-label" for="customRadio3">Sự kiện trẻ em</label>
                            }

                        </div>
                    </form>
                </div>

                <div class="col-md-9">
                    <div class="">
                        <div id="inner-sk">

                            @foreach (Ve.Models.SUKIEN sukien in ViewBag.listEvent)
                            {
                                        <h5><strong>@sukien.TieuDe</strong></h5>
                                        <div class="row p-1">
                                            <div class="col-md-4">
                                                <img width="80%" height="auto" src="~/public/images/@sukien.Anh" alt="">
                                            </div>
                                            <div class="col-md-8">
                                                <p>Thời gian: @sukien.NgayTao</p>
                                                <p>Mô tả: @sukien.MoTa </p>
                                                <a class="btn btn-outline-primary" href="/Event/Details/@sukien.ID">Chi tiết</a>

                                            </div>
                                        </div>
                                         <div class="mb-2" style="border: 0.5px solid gray"></div>
                             }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>

 
    <script type="text/javascript">
    function filter(){
          var x = $("input[name='loc_sk']:checked").val();                   
          $.ajax({
              type: "GET",
              url: '@Url.Action("Index","Event")',
              data: {
                  type: x,
              },
              success: function (result) {
                  document.querySelector('html').innerHTML = result;
              }

            })


        
        }
    $('.carousel').carousel({
        interval: 1500
    })
    </script>
</body>
</html>

