
<div id="divGioHang" class="cart box_1">
    <a href="@Url.Action("XemGioHang","GioHang")"> 
        <div style="padding-left:20px">
        <img src="~/public/images/cart.png" alt="" style="background-color:black" />
        </div>
    </a>
    @*<p><a href="@Url.Action("XemGioHang","GioHang")" style="color:#0275d8;font-size:16px">Giỏ hàng</a></p>*@

</div>