
@{
    ViewBag.Title = "GioTrong";
    Layout = "~/Views/Shared/BottomPartial.cshtml";
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Nexus Aquarium|Animals</title>
    <link rel="stylesheet" href="~/public/css/animal.css">
    <link rel="stylesheet" href="~/public/css/style.css">
    <link rel="stylesheet" href="~/public/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/public/vendor/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('li.nav-item').removeClass('active');
            $('li.nav-item:eq(3)').addClass('active');

        });
    </script>
</head>

<body>

    <div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <h3 style="text-align:center">Hiện tại giỏ hàng của bạn đang trống</h3>
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</body>
